html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #b3b3b3;
  font-family: "Montserrat", "sans-serif";
}

h1 {
  font-size: 2.5rem;
  font-family: "Lobster","sans-serif";
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: "Lobster","sans-serif";
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.home {
  background: white;
}

.nav-container {
  background: #63bdc7;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 7vh;
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav #logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

nav .contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.column {
  float: left;
  width: 50% !important;
}

.showcase {
  color: #285d63;
}

.slider-wrapper {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 50px;
  color: #004c53;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 2px 2px #aca6a6;
}

.slider {
  height: 60px;
  padding-left: 15px;
  overflow: hidden;
}

.slider div {
  color: #35737a;
  height: 60px;
  margin-bottom: 40px;
  padding: 2px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-text1 {
  -webkit-animation: slide 8s linear infinite;
          animation: slide 8s linear infinite;
}

@-webkit-keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.money {
  width: 545px;
}

.login-box {
  width: 370px;
  height: auto;
  padding: 20px 30px;
  background-color: grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 30px;
  opacity: 0.6;
  position: absolute;
  top: 129px;
  right: 160px;
}

.login-box p {
  margin: 0;
  color: #004C53;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 130px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 32px;
  color: white;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #208bd8;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  position: relative;
  top: 25px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: green;
  color: black;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  position: relative;
  top: 15px;
}

.login-box a:hover {
  color: red;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  height: 70%;
  opacity: 0.5;
}

.small-circle {
  position: absolute;
  bottom: -6%;
  left: 4%;
}
/*# sourceMappingURL=style.css.map */